/* Estilos para la barra de navegación */
nav {
  background-color: #2a4e2a;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #1e401e;
}

/* Estilos para el formulario de registro */
form {
  display: flex;
  align-items: center;
}

input[type="email"] {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el footer */
footer {
  background-color: #2a4e2a;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.contact-info, .social-media {
  text-align: center;
}

/* Establecer un ancho máximo  */
.social-media img {
  max-width: 30px; /* Ajusta el ancho  */
  height: auto; /* Mantener la proporción de aspecto  */
  margin: 5px; /* Añadir margen  */
}

/* Estilo  */
.carousel-image {
  max-width: 100%;
  height: auto;
}

/* Estilos para los botones */
.carousel-control-prev,
.carousel-control-next {
  color: #fff;
  font-size: 24px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 5px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #1e401e;
}


  